<h1>{{title}}</h1>
<p>{{description}}</p>
<p>${{price}}</p>
<a href="/add/{{ id }}" class="btn btn-default pull-right" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</a>



